body {
  font-family:Roboto,Arial,sans-serif;
}

#title {
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
}
.header {
  background-color: #2d0c49;
  padding: 15px;
  border-bottom: 1px solid white;
}
#indexImage1 {
	position: relative;
}
#indexImage2 {
	position: relative;
}
#indexImage3 {
	position: relative;
}
#f1 {
  background-color: #eb9316;
  transition: all 0.5s ease;
  border-color: #46166b;
  border: 2px solid;
}
#f2 {
  background-color: #eb9316;
  transition: all 0.5s ease;
  border-color: #46166b;
  border: 2px solid;
}
#f3 {
  background-color: #eb9316;
  transition: all 0.5s ease;
  border-color: #46166b;
  border: 2px solid;
}
#f1:hover {
  color: #eb9316;
  background-color: #46166b;
  border-color: #eb9316;
  border: 2px solid;
}
#f2:hover {
  color: #eb9316;
  background-color: #46166b;
  border-color: #eb9316;
  border: 2px solid;
}
#f3:hover {
  color: #eb9316;
  background-color: #46166b;
  border-color: #eb9316;
  border: 2px solid;
}

.iconContainer {
  font-size: 15px;
  color: white;
  text-align: center;
  margin: 0;
  display: block;
  overflow:hidden;
}

#icon1:hover {
  color: #4099ff;
}

#icon2:hover {
  color: #3b5998;
}

#icon3:hover {
  color: #4875B4;
}
footer {
  color: white;
  background-color: #333;
}

@media all and (max-width: 1200px) {
	h3 span {
	font-size: 16px;
	}
}
@media all and (max-width: 1000px) {
	h3 span {
	font-size: 14px;
	}
	#homeButtons {
	margin-left: 20%;
	}
}

@media all and (max-width: 767px) {
 .header {
  border-bottom: none;
  }
  #homeButtons {
  margin: 0 0 0 0;
  }
  #secondaryTitle {
	  font-size: 18px;
  }
  #applyImage {
    display: none;
  }
  #staffImage {
    display: none;
  }
  #indexImage1 {
	  margin-bottom: 10px;
	  margin-left: 10%;
  }
  #indexImage2 {
	  margin-bottom: 10px;
	  margin-left: 10%;
  }
  #indexImage3 {
	  margin-left: 10%;
  }
  h3 span {
	font-size: 24px;
	margin-left: 80px;
  }
  #melissaStudents {
      text-align: center;
  }
  #pictureContainer {
	margin-left: 8%;
  }
  #staffTitle {
      text-align: center;
  }
  #vinceLaura {
    text-align: center;
  }
  #unaLogo {
    width: 120px;
    height: 30px;
    margin-right: 80%;
  }
  #applyLandingPage {
    width: 100%;
  }
  #shield {
    display: none;
  }
  #unaHeader {
    display: none;
  }
  #unaNav {
	display: block!important;
	margin-bottom: -1%;
  }
  #toggleHome {
    display: block!important;
  }
  #honorsText {
    display: none;
  }
  #navbar {
    background-color: #2d0c49;
  }
  #unaLogoResponsive {
    display: block!important;
    width: 150px;
    height: 35px;
  }
  #give {
    width: 100%;
  }
  #apply {
    width: 100%;
  }
  #navbarToggle {
    margin-top: -5%;
  }
  #navbarHeaderToggle {
    background-color: #2d0c49;
  }

}
@media all and (max-width: 760px) {
	h3 span {
	font-size: 36px;
	margin: 0 0 0 0;
  }
  #indexImage1 {
	  margin-left: 10%;
  }
  #indexImage2 {
	  margin-left: 10%;
  }
  #indexImage3 {
	  margin-left: 10%;
  }

}
@media all and (max-width: 700px) {
	h3 span {
	font-size: 34px;
	margin: 0 0 0 0;
  }
  #indexImage1 {
	  margin-left: -.5%;
  }
  #indexImage2 {
	  margin-left: -.5%;
  }
  #indexImage3 {
	  margin-left: -.5%;
  }

}
@media all and (max-width: 600px) {
	h3 span {
	font-size: 28px;
	margin: 0 0 0 0;
  }
  #pictureContainer {
	margin-left: -.5%;
  }
  #indexImage1 {
	  margin-left: -.5%;
  }
  #indexImage2 {
	  margin-left: -.5%;
  }
  #indexImage3 {
	  margin-left: -.5%;
  }

}
@media all and (max-width: 500px) {
	h3 span {
	font-size: 26px;
	margin: 0 0 0 0;
  }
  #indexImage1 {
	  margin-left: -.5%;
  }
  #indexImage2 {
	  margin-left: -.5%;
  }
  #indexImage3 {
	  margin-left: -.5%;
  }
  #secondaryTitle {
	  font-size: 12px;
	  font-weight: bold;
  }

}
@media all and (max-width: 450px) {
	h3 span {
	font-size: 22px;
	margin: 0 0 0 0;
  }

}
@media all and (max-width: 380px) {
	h3 span {
	font-size: 20px;
	margin: 0 0 0 0;
  }

}
@media all and (max-width: 360px) {
	h3 span {
	font-size: 18px;
	margin: 0 0 0 0;
  }
}
@media all and (max-width: 340px) {
	h3 span {
	font-size: 16px;
	margin: 0 0 0 0;
  }
}
@media all and (max-width: 320px) {
	h3 span {
	font-size: 14px;
	margin: 0 0 0 0;
  }
}
@media all and (max-width: 300px) {
	h3 span {
	font-size: 12px;
	margin: 0 0 0 0;
  }
}
