body {
  font-family:Roboto,Arial,sans-serif;
}

#title {
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
}
.header {
  background-color: #2d0c49;
  padding: 15px;
  border-bottom: 1px solid white;
}
#f1 {
  background-color: #eb9316;
  transition: all 0.5s ease;
  border-color: #46166b;
  border: 2px solid;
}
#f2 {
  background-color: #eb9316;
  transition: all 0.5s ease;
  border-color: #46166b;
  border: 2px solid;
}
#f3 {
  background-color: #eb9316;
  transition: all 0.5s ease;
  border-color: #46166b;
  border: 2px solid;
}
#f1:hover {
  color: #eb9316;
  background-color: #46166b;
  border-color: #eb9316;
  border: 2px solid;
}
#f2:hover {
  color: #eb9316;
  background-color: #46166b;
  border-color: #eb9316;
  border: 2px solid;
}
#f3:hover {
  color: #eb9316;
  background-color: #46166b;
  border-color: #eb9316;
  border: 2px solid;
}

.iconContainer {
  font-size: 15px;
  color: white;
  text-align: center;
  margin: 0;
  display: block;
  overflow:hidden;
}

#icon1:hover {
  color: #4099ff;
}

#icon2:hover {
  color: #3b5998;
}

#icon3:hover {
  color: #4875B4;
}
footer {
  color: white;
  background-color: #333;
}

@media all and (max-width: 767px) {
  #applyImage {
    display: none;
  }
  #unaLogo {
    width: 120px;
    height: 30px;
    margin-right: 80%;
  }
  #applyLandingPage {
    width: 100%;
  }
  #shield {
    display: none;
  }
  #unaHeader {
    display: none;
  }
  #toggleHome {
    display: block!important;
  }
  #honorsText {
    display: none;
  }
  #navbar {
    background-color: #2d0c49;
  }
  #unaLogoResponsive {
    display: block!important;
    width: 150px;
    height: 35px;
  }
  #give {
    width: 100%;
  }
  #apply {
    width: 100%;
  }
  #navbarToggle {
    margin-top: -5%;
  }
  #navbarHeaderToggle {
    background-color: #2d0c49;
  }
}
