<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>University of North Alabama Honors Program</title>
	<meta name="description">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<!--External CSS-->
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body style="background: url(../images/una_aerial.jpg); background-size: cover;">
	<!--Header-->
  <div id="unaHeader" class="container header" style="text-decoration: none; color: white; font-size: 17px; text-transform: uppercase; margin: 0 auto; width: 100%;">
	<div class="container">
  <a href="http://www.una.edu"><img id="headerImage"class="img-responsive pull-left" src="../images/UNALogo.png"/></a>		<ul class="nav navbar-nav navbar-right" id="main-nav">
		<li id="responsiveLi" class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit"; aria-expanded="false">Apply<span class="glyphicon glyphicon-chevron-down"></span></a>
		<ul class="dropdown-menu">
		<li id="responsiveUl" class="dropdown-header"><strong>GET STARTED!</strong></li>
		<li><a id="responsiveLi" class="ui-link" href="/apply/index.html" target="_self"><strong>APPLY NOW</strong></a></li>
		<li><a id="responsiveLi" class="ui-link" href="/request/index.html" target="_self">Request Information</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/admissions/costs-expenses.html" target="_self">Costs/Expenses</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/financial-aid/index.html" target="_self">Financial Aid</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/veterans/gi-bill-information.html" target="_self">GI Bill</a></li>
		<li class="divider"></li><li id="responsiveUl" class="dropdown-header"><strong>HOW TO APPLY</strong></li>
		<li><a id="responsiveLi" class="ui-link" href="/admissions/apply-to-una/new-freshmen.html" target="_self">New Students</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/graduate/index.html" target="_self">Graduate Students</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/international/admissions/index.html" target="_self">International Students</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/admissions/apply-to-una/transfer-students.html" target="_self">Transfer Students</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/admissions/apply-to-una/former-student.html" target="_self">Former Students</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/admissions/non-degree-seeking-students.html" target="_self">Non-Degree</a></li>
		<li class="divider"></li><li><a class="ui-link" href="/admissions/index.html" target="_self"><strong>Office of Admissions</strong></a></li>
		</ul>
		</li>
		<li id="responsiveLi" class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Learn<span class="glyphicon glyphicon-chevron-down"></span></a>
		<ul class="dropdown-menu">
		<li id="responsiveUl" class="dropdown-header"><strong>STUDY AT UNA</strong></li>
		<li><a id="responsiveLi" class="ui-link" href="/academics/majors/" target="_self">Majors &amp; Minors</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/continuing-education/index.html" target="_self">Continuing Education</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/distance/index.html" target="_self">Distance Learning</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/graduate/index.html" target="_self">Graduate Studies</a></li>
		<li class="divider"></li><li id="responsiveUl" class="dropdown-header"><strong>COLLEGES</strong></li>
		<li><a id="responsiveLi" class="ui-link" href="/artsandsciences/index.html" target="_self">Arts &amp; Sciences</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/business/index.html" target="_self">Business</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/education/index.html" target="_self">Education &amp; Human Sciences</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/nursing/index.html" target="_self">Nursing</a></li>
		<li class="divider"></li>
		<li><a class="ui-link" href="/academics/index.html" target="_self"><strong>Academic Affairs</strong></a></li>
		</ul>
		</li>
		<li id="responsiveLi" class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Connect<span class="glyphicon glyphicon-chevron-down"></span></a>
		<ul class="dropdown-menu">
		<li id="responsiveUl" class="dropdown-header"><strong>GET INVOLVED</strong></li>
		<li><a id="responsiveLi" class="ui-link" href="/greeklife/" target="_self">Greek Life</a></li>
		<li><a id="responsiveLi" class="ui-link" href="http://una.orgsync.com/org/leadershipvolunteerism" target="_self">Leadership &amp; Volunteerism</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/liveon/" target="_self">University Residences</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/calendar/" target="_self">Student Calendar</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/sga/" target="_self">Student Government</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/upc/" target="_self">University Program Council</a></li>
		<li class="divider"></li><li><a class="ui-link" href="/student-engagement/" target="_self"><strong>Office of Student Engagement</strong></a></li>
		</ul>
		</li>
		<li id="responsiveLi" class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Sports<span class="glyphicon glyphicon-chevron-down" style="background-color: inherit";></span></a>
		<ul class="dropdown-menu">
		<li id="responsiveUl" class="dropdown-header"><strong>ATHLETICS</strong></li>
		<li><a id="responsiveLi" class="ui-link" href="http://www.roarlions.com/sports/2015/6/2/TICKETS.aspx" target="_self">Get Tickets</a></li>
		<li><a id="responsiveLi" class="ui-link" href="http://www.roarlions.com/calendar.aspx" target="_self">Game Schedules</a></li>
		<li><a id="responsiveLi" class="ui-link" href="http://www.roarlions.com/hof.aspx" target="_self">Hall of Fame</a></li>
		<li><a id="responsiveLi" class="ui-link" href="http://portal.stretchinternet.com/una/" target="_self">Lion Vision</a></li>
		<li class="divider"></li><li id="responsiveUl" class="dropdown-header"><strong>RECREATIONAL SPORTS</strong></li>
		<li><a id="responsiveLi" class="ui-link" href="/recsports/club-sports/index.html" target="_self">Club Sports</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/recsports/fitness-programs/index.html" target="_self">Fitness Programs</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/recsports/intramural/index.html" target="_self">Intramural Sports</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/oac/" target="_self">Outdoor Adventure Program</a></li>
		<li class="divider"></li>
		<li><a class="ui-link" href="http://www.roarlions.com" target="_self"><strong>University Athletics</strong></a></li>
		</ul></li>
		<li id="responsiveLi" class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Alumni<span class="glyphicon glyphicon-chevron-down"></span></a>
		<ul class="dropdown-menu">
		<li id="responsiveUl" class="dropdown-header"><strong>RECONNECT</strong></li>
		<li><a id="responsiveLi" class="ui-link" href="https://alumni.una.edu/alumniclubs" target="_self">Alumni Clubs</a></li>
		<li><a id="responsiveLi" class="ui-link" href="https://alumni.una.edu/sslpage.aspx?pid=250" target="_self">Alumni Events</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/career/alumni-spotlight.html" target="_self">Alumni Spotlight</a></li>
		<li><a id="responsiveLi" class="ui-link" href="http://alumni.una.edu/page.aspx?pid=193" target="_self">Update your records</a></li>
		<li><a id="responsiveLi" class="ui-link" href="/career/index.html" target="_self">Career Center</a></li>
		<li class="divider"></li>
		<li><a id="responsiveLi" class="ui-link" href="http://alumni.una.edu" target="_self"><strong>Alumni Relations</strong></a></li>
		<li><a id="responsiveLi" class="ui-link" href="/advancement/index.html" target="_self"><strong>University Advancement</strong></a></li>
		</ul>
		</li>
		<li><a id="responsiveUl" class="ui-link" href="https://www.una.edu/campaign/index.html" target="_self" style="background-color: inherit";>Give</a></li>
		<li id="responsiveLi" class="hidden-sm"><a id="responsiveUl" class="ui-link" href="/lioncam/index.html" target="_self" style="background-color: inherit";>LionCam <span class="glyphicon glyphicon-facetime-video" style="color:#db9f11;"></span></a></li>
		</ul>
		</div>
		</div>
		<nav id="unaNav" class="navbar navbar-inverse" id="my-navbar" style=" display: none; background-color: #2d0c49;">
		<div class="container">
			<div id="navbarHeaderToggle" class="navbar-header row">
			<a href="http://www.una.edu"><img id="unaLogoResponsive" style="display:none;" src="../images/UNALogo.png"></a>
			<a href="../templates/index.html"><b><p id="toggleHome" style="color: white; display: none;">Honors Home</p></b></a>
			  <button style="margin-top: -7.5%;" id="navbarToggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			  <span class="icon-bar" style="color:white;"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  </button>
  </div>
  <!-- Navbar Header-->
  <div class="collapse navbar-collapse" id="navbar-collapse">
  <div id="unaNav" class="container header" style="display: none; text-decoration: none; color: white; font-size: 17px; text-transform: uppercase; margin: 0 auto; width: 100%;">
	<ul class="nav navbar-nav navbar-right" id="main-nav" style="margin-right: 10%;">
		<li class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit"; aria-expanded="false">Apply<span class="glyphicon glyphicon-chevron-down"></span></a>
		<ul class="dropdown-menu">
		<li class="dropdown-header"><strong>GET STARTED!</strong></li>
		<li><a class="ui-link" href="/apply/index.html" target="_self"><strong>APPLY NOW</strong></a></li>
		<li><a class="ui-link" href="/request/index.html" target="_self">Request Information</a></li>
		<li><a class="ui-link" href="/admissions/costs-expenses.html" target="_self">Costs/Expenses</a></li>
		<li><a class="ui-link" href="/financial-aid/index.html" target="_self">Financial Aid</a></li>
		<li><a class="ui-link" href="/veterans/gi-bill-information.html" target="_self">GI Bill</a></li>
		<li class="divider"></li><li class="dropdown-header"><strong>HOW TO APPLY</strong></li>
		<li><a class="ui-link" href="/admissions/apply-to-una/new-freshmen.html" target="_self">New Students</a></li>
		<li><a class="ui-link" href="/graduate/index.html" target="_self">Graduate Students</a></li>
		<li><a class="ui-link" href="/international/admissions/index.html" target="_self">International Students</a></li>
		<li><a class="ui-link" href="/admissions/apply-to-una/transfer-students.html" target="_self">Transfer Students</a></li>
		<li><a class="ui-link" href="/admissions/apply-to-una/former-student.html" target="_self">Former Students</a></li>
		<li><a class="ui-link" href="/admissions/non-degree-seeking-students.html" target="_self">Non-Degree</a></li>
		<li class="divider"></li><li><a class="ui-link" href="/admissions/index.html" target="_self"><strong>Office of Admissions</strong></a></li>
		</ul>
		</li>
		<li class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Learn<span class="glyphicon glyphicon-chevron-down"></span></a>
		<ul class="dropdown-menu">
		<li class="dropdown-header"><strong>STUDY AT UNA</strong></li>
		<li><a class="ui-link" href="/academics/majors/" target="_self">Majors &amp; Minors</a></li>
		<li><a class="ui-link" href="/continuing-education/index.html" target="_self">Continuing Education</a></li>
		<li><a class="ui-link" href="/distance/index.html" target="_self">Distance Learning</a></li>
		<li><a class="ui-link" href="/graduate/index.html" target="_self">Graduate Studies</a></li>
		<li class="divider"></li><li class="dropdown-header"><strong>COLLEGES</strong></li>
		<li><a class="ui-link" href="/artsandsciences/index.html" target="_self">Arts &amp; Sciences</a></li>
		<li><a class="ui-link" href="/business/index.html" target="_self">Business</a></li>
		<li><a class="ui-link" href="/education/index.html" target="_self">Education &amp; Human Sciences</a></li>
		<li><a class="ui-link" href="/nursing/index.html" target="_self">Nursing</a></li>
		<li class="divider"></li>
		<li><a class="ui-link" href="/academics/index.html" target="_self"><strong>Academic Affairs</strong></a></li>
		</ul>
		</li>
		<li class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Connect<span class="glyphicon glyphicon-chevron-down"></span></a>
		<ul class="dropdown-menu">
		<li class="dropdown-header"><strong>GET INVOLVED</strong></li>
		<li><a class="ui-link" href="/greeklife/" target="_self">Greek Life</a></li>
		<li><a class="ui-link" href="http://una.orgsync.com/org/leadershipvolunteerism" target="_self">Leadership &amp; Volunteerism</a></li>
		<li><a class="ui-link" href="/liveon/" target="_self">University Residences</a></li>
		<li><a class="ui-link" href="/calendar/" target="_self">Student Calendar</a></li>
		<li><a class="ui-link" href="/sga/" target="_self">Student Government</a></li>
		<li><a class="ui-link" href="/upc/" target="_self">University Program Council</a></li>
		<li class="divider"></li><li><a class="ui-link" href="/student-engagement/" target="_self"><strong>Office of Student Engagement</strong></a></li>
		</ul>
		</li>
		<li class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Sports<span class="glyphicon glyphicon-chevron-down" style="background-color: inherit";></span></a>
		<ul class="dropdown-menu">
		<li class="dropdown-header"><strong>ATHLETICS</strong></li>
		<li><a class="ui-link" href="http://www.roarlions.com/sports/2015/6/2/TICKETS.aspx" target="_self">Get Tickets</a></li>
		<li><a class="ui-link" href="http://www.roarlions.com/calendar.aspx" target="_self">Game Schedules</a></li>
		<li><a class="ui-link" href="http://www.roarlions.com/hof.aspx" target="_self">Hall of Fame</a></li>
		<li><a class="ui-link" href="http://portal.stretchinternet.com/una/" target="_self">Lion Vision</a></li>
		<li class="divider"></li><li class="dropdown-header"><strong>RECREATIONAL SPORTS</strong></li>
		<li><a class="ui-link" href="/recsports/club-sports/index.html" target="_self">Club Sports</a></li>
		<li><a class="ui-link" href="/recsports/fitness-programs/index.html" target="_self">Fitness Programs</a></li>
		<li><a class="ui-link" href="/recsports/intramural/index.html" target="_self">Intramural Sports</a></li>
		<li><a class="ui-link" href="/oac/" target="_self">Outdoor Adventure Program</a></li>
		<li class="divider"></li>
		<li><a class="ui-link" href="http://www.roarlions.com" target="_self"><strong>University Athletics</strong></a></li>
		</ul></li>
		<li class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Alumni<span class="glyphicon glyphicon-chevron-down"></span></a>
		<ul class="dropdown-menu">
		<li class="dropdown-header"><strong>RECONNECT</strong></li>
		<li><a class="ui-link" href="https://alumni.una.edu/alumniclubs" target="_self">Alumni Clubs</a></li>
		<li><a class="ui-link" href="https://alumni.una.edu/sslpage.aspx?pid=250" target="_self">Alumni Events</a></li>
		<li><a class="ui-link" href="/career/alumni-spotlight.html" target="_self">Alumni Spotlight</a></li>
		<li><a class="ui-link" href="http://alumni.una.edu/page.aspx?pid=193" target="_self">Update your records</a></li>
		<li><a class="ui-link" href="/career/index.html" target="_self">Career Center</a></li>
		<li class="divider"></li>
		<li><a class="ui-link" href="http://alumni.una.edu" target="_self"><strong>Alumni Relations</strong></a></li>
		<li><a class="ui-link" href="/advancement/index.html" target="_self"><strong>University Advancement</strong></a></li>
		</ul>
		</li>
		<li><a class="ui-link" href="https://www.una.edu/campaign/index.html" target="_self" style="background-color: inherit";>Give</a></li>
		<li class="hidden-sm"><a class="ui-link" href="/lioncam/index.html" target="_self" style="background-color: inherit";>LionCam <span class="glyphicon glyphicon-facetime-video" style="color:#db9f11;"></span></a></li>
		</ul>
		</div>
  </div>
  </div><!-- End Container-->
  </nav><!-- End navbar -->
   <!--End Header-->

			<!--Content-->
			<div class="container" style="margin-top: 3%;">
				<div class="col-md-12">
					<div id="image" class="col-md-6">
						<a href="prospectiveTemplate.html"><img style="height: 190px; width: 100%;"src="../images/indexButtons/prospective_colored.jpg"/></a>
					</div>
					<div id="image" class="col-md-6">
						<a href="../currentPages/applyTemplate.html"><img style="height: 190px; width: 100%;"src="../images/indexButtons/apply_colored.jpg"/></a>
					</div>
					<div id="image" class="col-md-4">
						<a href="givetoday.html"><img style="height: 190px; width: 100%; margin-top: 8%;" src="../images/indexButtons/give_colored.jpg"/></a>
					</div>
					<div id="image" class="col-md-8">
						<a href="currentTemplate.html"><img style="height: 190px; width: 100%; margin-top: 4%;" src="../images/indexButtons/current.jpg"/></a>
					</div>
					<div id="image" class="col-md-8">
						<a href="#"><img style="height: 190px; width: 100%; margin-top: 4%;" src="../images/indexButtons/alumni_colored.jpg"/></a>
					</div>
					<div id="image" class="col-md-4">
						<a href="#"><img style="height: 190px; width: 100%; margin-top: 8%;" src="../images/indexButtons/blankButton_colored.jpg"/></a>
					</div>
				</div>
			</div>
			<!--End Content-->
						<!--Footer-->
						<footer id="footerlist" class="container-fluid" style="margin-top: 3%;">
							<div class="container">
								<div class="row">
									<div class="social-foot col-xs-12 col-md-12">
										<div class="col-xs-12 col-sm-6 col-md-6">
											<span class="btn-lg glyphicon glyphicon-globe pull-left"></span>
											<address>Florence, AL 35632<br>(256) 765-4100<br>1 (800) TALK-UNA</address>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<div class="btn-group pull-right">
												<a class="btn btn-default btn-md ui-link" href="http://www.facebook.com/northalabama" target="_blank">
													<i class="fa-lg fa-facebook fa"> </i>
												</a>
												<a class="btn btn-default btn-md ui-link hidden-xs" href="https://plus.google.com/111961480250852007759/posts" target="_blank">
													<i class="fa-lg fa-google-plus fa"> </i>
												</a>
												<a class="btn btn-default btn-md ui-link" href="http://www.instagram.com/north_alabama" target="_blank">
													<i class="fa-lg fa-instagram fa"> </i>
												</a>
												<a class="btn btn-default btn-md ui-link hidden-xs" href="https://www.linkedin.com/company/39835" target="_blank">
													<i class="fa-lg fa-linkedin fa"> </i>
												</a>
												<a class="btn btn-default btn-md ui-link" href="http://www.twitter.com/north_alabama" target="_blank">
													<i class="fa-lg fa-twitter fa"> </i>
												</a>
												<a class="btn btn-default btn-md ui-link" href="http://www.youtube.com/unaroarlions" target="_blank">
													<i class="fa-lg fa-youtube fa"> </i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<a href="/map/" target="_self" title="View Campus Maps">
											<img alt="Map of University of North Alabama Campus" class="img-responsive" src="../images/unamap.png" data-pagespeed-url-hash="2882918269" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
										</a>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 hidden-xs">
										<ul><li><a href="https://una.edu/administration/accreditation.html" target="_self">Accreditation</a></li></br></br>
											<li><a href="https://una.edu/administration/index.html" target="_self">Administration</a></li></br></br>
											<li><a href="https://alumni.una.edu/sslpage.aspx?pid=193" target="_self">Alumni OnLION</a></li></br></br>
											<li><a href="https://una.edu/pressroom/" target="_self">Campus News</a></li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 hidden-xs">
										<ul>
											<li><a href="https://una.edu/police/index.html" target="_self">Campus Police</a></li></br></br>
											<li><a href="https://una.edu/emergency-management/index.html" target="_self">Emergency Info</a></li></br></br>
											<li><a href="https://una.edu/humanresources/employment.html" target="_self">Employment</a></li></br></br>
											<li><a href="http://www.florala.net/" target="_self">The Flor-Ala</a></li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 hidden-xs">
										<ul>
											<li><a href="https://www.una.edu/campaign/index.html" target="_self">Give to UNA</a></li></br></br>
											<li><a href="https://una.edu/lionalert/index.html" target="_self">Lion Alert</a></li></br></br>
											<li><a href="https://una.edu/map/" target="_self">Map/Directions</a></li></br></br>
											<li><a href="https://una.edu/administration/mission-statement.html" target="_self">Mission Statement</a></li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="copyright col-xs-12 col-md-12">
										<small><span class="pull-left">Copyright © 2016 | University of North Alabama | All rights reserved.</span><span class="pull-right"><a href="https://una.edu/web/cascade/find-your-web-lion.html" target="_self">Website Feedback</a></span></small>
									</div>
								</div>
							</div>
						</footer>
						<!--End Footer-->

						<!--Internal CSS-->
						<style>
						#image:hover {
							-moz-transform: scale(1.05);
							-webkit-transform: scale(1.05);
							-o-transform: scale(1.05);
							-ms-transform: scale(1.05);
							-webkit-transform: scale(1.05);
							transform: scale(1.05);

							-webkit-transition: transform .30s ease-in-out;
							-moz-transition:transform .30s ease-in-out;
							-ms-transition:transform .30s ease-in-out;
						}
						a {
							color: inherit;
						}
						a:hover {
							color: inherit;
						}
						hr {
							border-color: #eb9316;
						}
						h3 {
							position: absolute;
						}
						h3 span {
							color: white;
							background: rgba(0, 0, 0, 0.7);
							padding: 10px;
						}
						li {
							display: inline;
						}
						li:hover {
							color: #edcf88;
						}
						hr {
							border-color: #eb9316;
						}

						#imgbutton img:hover{
							box-shadow: 0 1px 50px black;
						}
						#footerlist ul>li:hover{
							background-color: inherit;
						}
						</style>
						<!--End Internal CSS-->

					</body>
					</html>
