<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>University of North Alabama Honors Program</title>
<meta name="description" content="Wiredwiki App">
<!--External CSS-->
<link rel="stylesheet" type="text/css" href="../css/index.css">
<!--Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body style="background: url(../images/texture.png);">
  <!--Header-->
  <div id="unaHeader" class="container header" data-toggle="collapse" style="text-decoration: none; color: white; font-size: 17px; text-transform: uppercase; margin: 0 auto; width: 100%;">
  <img class="img-responsive pull-left" id="unaLogo" src="../images/UNALogo.png"/ style="margin-left: 13%;">
  <ul class="nav navbar-nav navbar-right" id="main-nav" style="margin-right: 10%;">
  <li class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit"; aria-expanded="false">Apply<span class="glyphicon glyphicon-chevron-down"></span></a>
  <ul class="dropdown-menu">
  <li class="dropdown-header"><strong>GET STARTED!</strong></li>
  <li><a class="ui-link" href="/apply/index.html" target="_self"><strong>APPLY NOW</strong></a></li>
  <li><a class="ui-link" href="/request/index.html" target="_self">Request Information</a></li>
  <li><a class="ui-link" href="/admissions/costs-expenses.html" target="_self">Costs/Expenses</a></li>
  <li><a class="ui-link" href="/financial-aid/index.html" target="_self">Financial Aid</a></li>
  <li><a class="ui-link" href="/veterans/gi-bill-information.html" target="_self">GI Bill</a></li>
  <li class="divider"></li><li class="dropdown-header"><strong>HOW TO APPLY</strong></li>
  <li><a class="ui-link" href="/admissions/apply-to-una/new-freshmen.html" target="_self">New Students</a></li>
  <li><a class="ui-link" href="/graduate/index.html" target="_self">Graduate Students</a></li>
  <li><a class="ui-link" href="/international/admissions/index.html" target="_self">International Students</a></li>
  <li><a class="ui-link" href="/admissions/apply-to-una/transfer-students.html" target="_self">Transfer Students</a></li>
  <li><a class="ui-link" href="/admissions/apply-to-una/former-student.html" target="_self">Former Students</a></li>
  <li><a class="ui-link" href="/admissions/non-degree-seeking-students.html" target="_self">Non-Degree</a></li>
  <li class="divider"></li><li><a class="ui-link" href="/admissions/index.html" target="_self"><strong>Office of Admissions</strong></a></li>
  </ul>
  </li>
  <li class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Learn<span class="glyphicon glyphicon-chevron-down"></span></a>
  <ul class="dropdown-menu">
  <li class="dropdown-header"><strong>STUDY AT UNA</strong></li>
  <li><a class="ui-link" href="/academics/majors/" target="_self">Majors &amp; Minors</a></li>
  <li><a class="ui-link" href="/continuing-education/index.html" target="_self">Continuing Education</a></li>
  <li><a class="ui-link" href="/distance/index.html" target="_self">Distance Learning</a></li>
  <li><a class="ui-link" href="/graduate/index.html" target="_self">Graduate Studies</a></li>
  <li class="divider"></li><li class="dropdown-header"><strong>COLLEGES</strong></li>
  <li><a class="ui-link" href="/artsandsciences/index.html" target="_self">Arts &amp; Sciences</a></li>
  <li><a class="ui-link" href="/business/index.html" target="_self">Business</a></li>
  <li><a class="ui-link" href="/education/index.html" target="_self">Education &amp; Human Sciences</a></li>
  <li><a class="ui-link" href="/nursing/index.html" target="_self">Nursing</a></li>
  <li class="divider"></li>
  <li><a class="ui-link" href="/academics/index.html" target="_self"><strong>Academic Affairs</strong></a></li>
  </ul>
  </li>
  <li class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Connect<span class="glyphicon glyphicon-chevron-down"></span></a>
  <ul class="dropdown-menu">
  <li class="dropdown-header"><strong>GET INVOLVED</strong></li>
  <li><a class="ui-link" href="/greeklife/" target="_self">Greek Life</a></li>
  <li><a class="ui-link" href="http://una.orgsync.com/org/leadershipvolunteerism" target="_self">Leadership &amp; Volunteerism</a></li>
  <li><a class="ui-link" href="/liveon/" target="_self">University Residences</a></li>
  <li><a class="ui-link" href="/calendar/" target="_self">Student Calendar</a></li>
  <li><a class="ui-link" href="/sga/" target="_self">Student Government</a></li>
  <li><a class="ui-link" href="/upc/" target="_self">University Program Council</a></li>
  <li class="divider"></li><li><a class="ui-link" href="/student-engagement/" target="_self"><strong>Office of Student Engagement</strong></a></li>
  </ul>
  </li>
  <li class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Sports<span class="glyphicon glyphicon-chevron-down" style="background-color: inherit";></span></a>
  <ul class="dropdown-menu">
  <li class="dropdown-header"><strong>ATHLETICS</strong></li>
  <li><a class="ui-link" href="http://www.roarlions.com/sports/2015/6/2/TICKETS.aspx" target="_self">Get Tickets</a></li>
  <li><a class="ui-link" href="http://www.roarlions.com/calendar.aspx" target="_self">Game Schedules</a></li>
  <li><a class="ui-link" href="http://www.roarlions.com/hof.aspx" target="_self">Hall of Fame</a></li>
  <li><a class="ui-link" href="http://portal.stretchinternet.com/una/" target="_self">Lion Vision</a></li>
  <li class="divider"></li><li class="dropdown-header"><strong>RECREATIONAL SPORTS</strong></li>
  <li><a class="ui-link" href="/recsports/club-sports/index.html" target="_self">Club Sports</a></li>
  <li><a class="ui-link" href="/recsports/fitness-programs/index.html" target="_self">Fitness Programs</a></li>
  <li><a class="ui-link" href="/recsports/intramural/index.html" target="_self">Intramural Sports</a></li>
  <li><a class="ui-link" href="/oac/" target="_self">Outdoor Adventure Program</a></li>
  <li class="divider"></li>
  <li><a class="ui-link" href="http://www.roarlions.com" target="_self"><strong>University Athletics</strong></a></li>
  </ul></li>
  <li class="dropdown"><a class="dropdown-toggle ui-link" data-toggle="dropdown" style="background-color: inherit";>Alumni<span class="glyphicon glyphicon-chevron-down"></span></a>
  <ul class="dropdown-menu">
  <li class="dropdown-header"><strong>RECONNECT</strong></li>
  <li><a class="ui-link" href="https://alumni.una.edu/alumniclubs" target="_self">Alumni Clubs</a></li>
  <li><a class="ui-link" href="https://alumni.una.edu/sslpage.aspx?pid=250" target="_self">Alumni Events</a></li>
  <li><a class="ui-link" href="/career/alumni-spotlight.html" target="_self">Alumni Spotlight</a></li>
  <li><a class="ui-link" href="http://alumni.una.edu/page.aspx?pid=193" target="_self">Update your records</a></li>
  <li><a class="ui-link" href="/career/index.html" target="_self">Career Center</a></li>
  <li class="divider"></li>
  <li><a class="ui-link" href="http://alumni.una.edu" target="_self"><strong>Alumni Relations</strong></a></li>
  <li><a class="ui-link" href="/advancement/index.html" target="_self"><strong>University Advancement</strong></a></li>
  </ul>
  </li>
  <li><a class="ui-link" href="https://www.una.edu/campaign/index.html" target="_self" style="background-color: inherit";>Give</a></li>
  <li class="hidden-sm"><a class="ui-link" href="/lioncam/index.html" target="_self" style="background-color: inherit";>LionCam <span class="glyphicon glyphicon-facetime-video" style="color:#db9f11;"></span></a></li>
  </ul>
  </div>
  <nav class="navbar navbar-inverse" id="my-navbar" style="background-color: #333;">
 <div class="container">
   <div id="navbarHeaderToggle" class="navbar-header row">
     <a href="http://www.una.edu"><img id="unaLogoResponsive" style="display:none;" src="../images/UNALogo.png"></a>
   <button id="navbarToggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
   <span class="icon-bar" style="color:white;"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   </button>

   <p id="honorsText" class="navbar-brand" style="color: white;"><a href="../templates/index.html">Honors Program</a></p>
   </div><!-- Navbar Header-->
   <div class="collapse navbar-collapse" id="navbar-collapse">

   <a id="give" class="btn btn-warning navbar-btn navbar-right active" href="../templates/givetoday.html">Give Now</a>
   <a id="apply" class="btn btn-warning navbar-btn navbar-right active" href="../currentPages/applyTemplate.html" style="margin-right: 1%;">Apply Now</a>
   <ul class="nav navbar-nav pull-center" style="text-align:center; position: relative; and display: inline-block;">
   <li class="dropdown">
   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Current Students
   <span class="caret" /></a>
   <ul class="dropdown-menu">
     <li><a href="../templates/currentTemplate.html">Home</a></li>
     <li><a href="../currentPages/civicengagement.html">Civic Engagement</a></li>
     <li><a href="../currentPages/reads.html">Honors Program Reads</a></li>
     <li><a href="../currentPages/capstone.html">Honors Capstone Courses</a></li>
     <li><a href="../currentPages/contracting_courses.html">Honors Contracting Courses</a></li>
     <li><a href="../prospectivePages/requirements.html">Program Requirements</a></li>
     <li><a href="../prospectivePages/honorsStaff.html">Current Staff</a></li>
     <li><a href="../currentPages/forms.html">Forms</a></li>
     <li><a href="../currentPages/honors_courses.html">Honors Courses</a></li>
   </ul>
   </li>
   <li class="dropdown">
   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Prospective Students
   <span class="caret" /></a>
   <ul class="dropdown-menu">
     <li><a href="../templates/prospectiveTemplate.html">Home</a></li>
     <li><a href="../currentPages/applyTemplate.html">Apply Today</a></li>
     <li><a href="../prospectivePages/participate.html">Participate</a></li>
     <li><a href="../prospectivePages/scholarshipsTemplate.html">Scholarships</a></li>
     <li><a href="../prospectivePages/FAQ.html">FAQs</a></li>
     <li><a href="../prospectivePages/honorsStaff.html">Honors Program Staff</a></li>
     <li><a href="../prospectivePages/requirements.html">Program Requirements</a></li>
   </ul>
   </li>
   <li class="dropdown">
   <a class="dropdown-toggle" data-toggle="dropdown" href="#">Parents
   <span class="caret" /></a>
   <ul class="dropdown-menu">
     <li><a href="../templates/parentsTemplate.html">Home</a></li>
     <li><a href="../prospectivePages/scholarshipsTemplate.html">Scholarships</a></li>
     <li><a href="../prospectivePages/requirements.html">Program Requirements</a></li>
   </ul>
   </li>
   <li><a href="../templates/friendsandalumni.html">Friends and Alumni</a></li>
   <li><a href="../prospectivePages/honorsStaff.html">Faculty and Staff</a></li>
   </ul>
   </div>
   </div><!-- End Container-->
   </nav><!-- End navbar -->
  		<!--End Header-->

		<!-- Content Goes Here -->
    <div class="container">
			<h1>Welcome Prospective Students</h1>
			<div class="col-md-6 pull left" style="margin-top: 7%;">
				<div id="myCarousel" class="carousel slide img-responsive" style="margin-right: 5%;" id="screenshot-carousel" data-ride="carousel">


        	<div class="carousel-inner img-responsive">
        		<div class="item active">
        			<img class="img-responsive" src="../images/prospectiveHome/p1.png" style="height: 300px; width: 500px; overflow: hidden;" alt="Text of the image">
        		</div>
						<div class="item">
        			<img class="img-responsive" src="../images/prospectiveHome/p2.jpg" style="height: 300px; width: 500px; overflow: hidden;" alt="Text of the image">
        		</div>
        		<div class="item">
        			<img class="img-responsive" src="../images/prospectiveHome/p3.jpg" style="height: 300px; width: 500px; overflow: hidden;" alt="Text of the image">
        		</div>
        		<div class="item">
        			<img class="img-responsive" src="../images/prospectiveHome/p4.jpg" style="height: 300px; width: 500px; overflow: hidden;" alt="Text of the image">
        		</div>
        	</div>

          <div class="carousel-controls">
  					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
  						<span class="glyphicon glyphicon-chevron-left"></span>
  					</a>
  					<ol class="carousel-indicators">
  						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  						<li data-target="#myCarousel" data-slide-to="1"></li>
  						<li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
  					</ol>
  					<a class="right carousel-control" href="#myCarousel" data-slide="next">
  						<span class="glyphicon glyphicon-chevron-right"></span>
  					</a>
  				</div>

				</div>
				<!-- End Carousel inner -->
			</div>

			<div class="col-md-6 pull right">
				<section>
					<h3>Director's Greeting</h3>
					<p>Happy Anniversary Greetings from the Honors Program as we celebrate our 10th year of excellence and good times. The HP @ UNA offers students a total undergraduate experience—academic, social, co-curricular, extra-curricular, residential, and financial—of unsurpassed value. We are absolutely dedicated to your post-graduate success and to making your college experience personally rewarding and fun.</p>
					<p class="style2">If you are ambitious to be the very best and want a support system that encourages success the HP @ UNA is for you.&nbsp;“Success” means different things to different people. We are here to help you define success on your own terms and attain it.&nbsp;</p>
					<p class="style2">The HP was founded in 2005, and we have continued each year since our inception to build on a foundation of outstanding academics and an enduring belief that the college experience should be unforgettable. Our primary mission is your success, but we are a young program, eager to try new things, and quick to keep in step with the pace of global change.</p>
					<p class="style2">Explore our website to discover what you want to know about the HP @ UNA. Read what our students, past and present, have to say about the Program. Check out the benefits – and the requirements. We are looking for students who are ready to be something amazing. We think that may be you.&nbsp;</p>
					<p class="style2">Vince Brewton, Ph.D., Director</p>
				</section>
			</div>
		</div>

		<!--Footer-->
		<footer class="container-fluid" style="margin-top: 5%;">
			<div class="container">
				<div class="row">
					<div class="social-foot col-xs-12 col-md-12">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<span class="btn-lg glyphicon glyphicon-globe pull-left"></span>
							<address>Florence, AL 35632<br>(256) 765-4100<br>1 (800) TALK-UNA</address>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="btn-group pull-right">
								<a class="btn btn-default btn-md ui-link" href="http://www.facebook.com/northalabama" target="_blank">
									<i class="fa-lg fa-facebook fa"> </i>
								</a>
								<a class="btn btn-default btn-md ui-link hidden-xs" href="https://plus.google.com/111961480250852007759/posts" target="_blank">
									<i class="fa-lg fa-google-plus fa"> </i>
								</a>
								<a class="btn btn-default btn-md ui-link" href="http://www.instagram.com/north_alabama" target="_blank">
									<i class="fa-lg fa-instagram fa"> </i>
								</a>
								<a class="btn btn-default btn-md ui-link hidden-xs" href="https://www.linkedin.com/company/39835" target="_blank">
									<i class="fa-lg fa-linkedin fa"> </i>
								</a>
								<a class="btn btn-default btn-md ui-link" href="http://www.twitter.com/north_alabama" target="_blank">
									<i class="fa-lg fa-twitter fa"> </i>
								</a>
								<a class="btn btn-default btn-md ui-link" href="http://www.youtube.com/unaroarlions" target="_blank">
									<i class="fa-lg fa-youtube fa"> </i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3">
						<a href="/map/" target="_self" title="View Campus Maps">
							<img alt="Map of University of North Alabama Campus" class="img-responsive" src="../images/unamap.png" data-pagespeed-url-hash="2882918269" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 hidden-xs">
						<ul><li><a href="https://una.edu/administration/accreditation.html" target="_self">Accreditation</a></li></br></br>
							<li><a href="https://una.edu/administration/index.html" target="_self">Administration</a></li></br></br>
							<li><a href="https://alumni.una.edu/sslpage.aspx?pid=193" target="_self">Alumni OnLION</a></li></br></br>
							<li><a href="https://una.edu/pressroom/" target="_self">Campus News</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 hidden-xs">
						<ul>
							<li><a href="https://una.edu/police/index.html" target="_self">Campus Police</a></li></br></br>
							<li><a href="https://una.edu/emergency-management/index.html" target="_self">Emergency Info</a></li></br></br>
							<li><a href="https://una.edu/humanresources/employment.html" target="_self">Employment</a></li></br></br>
							<li><a href="http://www.florala.net/" target="_self">The Flor-Ala</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 hidden-xs">
						<ul>
							<li><a href="https://www.una.edu/campaign/index.html" target="_self">Give to UNA</a></li></br></br>
							<li><a href="https://una.edu/lionalert/index.html" target="_self">Lion Alert</a></li></br></br>
							<li><a href="https://una.edu/map/" target="_self">Map/Directions</a></li></br></br>
							<li><a href="https://una.edu/administration/mission-statement.html" target="_self">Mission Statement</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="copyright col-xs-12 col-md-12">
						<small><span class="pull-left">Copyright © 2016 | University of North Alabama | All rights reserved.</span><span class="pull-right"><a href="https://una.edu/web/cascade/find-your-web-lion.html" target="_self">Website Feedback</a></span></small>
					</div>
				</div>
			</div>
		</footer>
		<!--End Footer-->

		<!--Internal CSS-->
		<style>
		a {
			color: inherit;
		}
		a:hover {
		  color: inherit;
		}
		hr {
		  border-color: #eb9316;
		}
		li {
		display: inline;
		}
		li:hover {
			color: #edcf88;
		}
    .carousel-indicators {
			bottom: -50px;
		}
    /* this fixes the carousel buttons from default to black and active is gold */
		.carousel-indicators li {
			background: #000000;
		}
		.carousel-indicators .active {
			background: #bd9f11;
		}
		.carousel-indicators {
			bottom: -50px;
			top: -6px;
		}
		.carousel-controls {
 			position:relative;
  		width:100px;
  		margin:0 auto;
			background-image: none;
			top: 25px;
		}
		.carousel-control.left, .carousel-control.right {
    	background-image: none;
			color: #333;;
		}
		</style>
		<!--End Internal CSS-->

	</body>
</html>
